
body {
    background-color: rebeccapurple;
    border: 1px solid black;
    box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.5) inset;
    color: white;
    min-height: 100vh;
    width: 100vw;
    padding: 15px;
}

#ci_icon_small {
    width: 40px;
    height: 40px;
}

#c_f_toggle {
    height: 40px;
}

#search_history {
    height: 100%;
}

.list-group-item-action {
    color: black;
}

#forecast_summaries {
    border: 1px dotted white;
}

.icon_large {
    height: 120px;
    width: 120px
}

footer {
    display: none;
    /* border-top: 1px solid black; */
}

.wind {
    position: relative;
}

.wind_icon {
    position: absolute;
}

.weather_card_image {
    width: 45%;
    display: block;
    margin: 3% auto;
}

.weather_card {
    text-align: center;
    color: black;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 375px) {
    body {
        background-color: orange;
    }

    footer {
        position: absolute;
        bottom: 0%;
        /* border-top: 1px solid black; */
    }

    .weather_card, .weather_card_header, .weather_card_image, .weather_card_body {
        all: initial;
        float: left;
        margin-right: 3%;
    }

    .weather_card {
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background-color: AliceBlue;
        color: black;
    }

    footer {
        position: absolute;
        bottom: 0%;
        /* border-top: 1px solid black; */
    }

    .weather_card, .weather_card_header, .weather_card_image, .weather_card_body {
        all: initial;
        float: left;
        margin-right: 3%;
    }




}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        position: absolute;
        bottom: 0%;
        /* border-top: 1px solid black; */
    }

    .card {
        width: 17%;
        float: left;
        margin: 1.5%
    }

    .weather_card_image {
        width: 95%
        border: 1px solid black;
    }

    body {
        background-color: Beige;
        color: black;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    footer {
        position: absolute;
        bottom: 0%;
        /* border-top: 1px solid black; */
    }

    body {
        background-color: violet;
        border: 1px solid black;
        box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.5) inset;
        color: black;
        min-height: 100vh;
        width: 100%;
        padding: 15px;
    }

    .card {
        width: 17%;
        height: 320px;
        float: left;
        margin: 1%;
    }

    .weather_card_header {
        padding-bottom: 6px;
    }

    .weather_card_body {
        padding-top: 0px;
    }

 }
